<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>This is your calculator.</h1>

    <h2>Please, enter numbers</h2>

    <form method="post">
        <input type="number" name="first number" required>

        <select name="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

        <input type="number" name="second number"required> = <button type="submite">result</button>
    </form>

</body>
</html>